[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

.vs/
.idea/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs

# Unity Recovery
Assets/_Recovery/
Assets/_Recovery.meta

# Temporary folder
.utmp/